APP_ENV=local
SERVER_PORT=8000

# Backend API
BACKEND_URL=http://localhost:8080

# MongoDB
# Docker network internal (devpick-infra docker-compose):
# host must be `mongodb`
MONGO_URI=mongodb://<MONGO_USERNAME>:<MONGO_PASSWORD>@mongodb:27017/devpick
MONGO_DB=devpick

# Host machine(local PC) example:
# MONGO_URI=mongodb://<MONGO_USERNAME>:<MONGO_PASSWORD>@localhost:27017/devpick

# LLM API keys
ANTHROPIC_API_KEY=<YOUR_ANTHROPIC_API_KEY>
# Optional
OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
